
These computer resources, specifically Internet access and E-mail, are provided
for authorized users only. For legal, security and cost reasons, utilization
and access of resources are monitored and recorded in log files.
All information (whether business or personal) that is created, received,
downloaded, stored, sent or otherwise processed can be accessed, reviewed,
copied, recorded or deleted by Ericsson, in accordance with approved internal
procedures, at any time if deemed necessary or appropriate, and without advance
notice. Any evidence of unauthorized access or misuse of Ericsson resources may
result in disciplinary actions, including termination of employment or
assignment, and could subject a user to criminal prosecution.
Your use of Ericssons computer resources constitutes your consent to
Ericssons Policies and Directives, including the provisions stated above.

IF YOU ARE NOT AN AUTHORIZED USER, PLEASE EXIT IMMEDIATELY.