# {{ ansible_managed }}
# defaults for {{ shipyard_www_service }} server

# pulled in from the init script; makes things easier.
NAME={{ shipyard_www_service }}

# Timeout for killing containers if not stopped within the specified timeout 'N' seconds
TIMEOUT=5

# user and group to be invoked as (default to root)
{{ shipyard_www_service }}_USER=root
{{ shipyard_www_service }}_GROUP=root

# docker home location
DOCKER=/usr/bin/docker

# log location.  this may be a syslog facility.priority
SHIPYARD_LOG=/var/log/$NAME.log

# port for HTTP connector (default 8000; disable with -1)
HTTP_PORT=8000

SHIPYARD_ARGS="{{ shipyard_www_service }}"