# {{ ansible_managed }}
# Gunicorn config file

import os

flavor = os.environ.get('SETTINGS_FLAVOR')
reload = True
bind = '%s:%s' % (
    os.environ.get('REGISTRY_HOST', '{{ docker_registry_host }}'),
    os.environ.get('REGISTRY_PORT', '{{ docker_registry_port }}')
)
graceful_timeout = {{ registry_timeout }}
timeout = {{ registry_timeout }}
worker_class = 'gevent'
max_requests = 100
workers = 5
log_level = '{{ registry_log_level }}'
debug = True
accesslog = os.environ.get('GUNICORN_ACCESS_LOG_FILE', '-')
errorlog = os.environ.get('GUNICORN_ERROR_LOG_FILE', '-')
access_log_format = ('%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" '
                     '"%(a)s" %(D)s %({X-Docker-Size}o)s')

if flavor == 'prod' or flavor == 'staging':
    reload = False
    workers = 8
    debug = False
    log_level = '{{ registry_log_level }}'
